body{
    background-color:rgb(75, 21, 21);
    color:azure
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: azure;
}

#img1{
    display: flex;
    justify-content: center;
}

img{
    width: 400px;
}

#list{
    display: flex;
    justify-content: space-around;
}

.listHeading{
    color: rgb(229, 98, 255);
}

#para1{
    width: 400px;
    background-color: rgb(24, 96, 96);
    padding: 10px;
    
}

#para1Placement{
    display: flex;
    justify-content: center;
}

#para2Placement{
    display: flex;
    justify-content: space-around;
}

.para{
    width: 400px;
    height: auto;
    margin: 5px;
    background-color: rgb(24, 96, 96);
}

#headingApplication{
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    justify-content: center;
}

#input{
    display: flex;
    justify-content: center;
}

#footer{
    display: flex;
    justify-content: center;
}